
/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    margin-top:10px;
}

/* tot hier */


body {
    font-family:"Open Sans";
    color:#666;
}

p {
    font-family: "Open Sans";
    font-weight:300;
    font-size:14px;
    line-height: 24px;
}

/* typografie */

h1 {
    font-size:45px;
    font-weight:bold;
    padding:10px 10px 10px 0;
    color:#444;
}

h1.smaller {
    font-size:30px;
    font-weight:bold;
    padding:10px 10px 10px 0;
    color:#444;
}

h2 {
    font-size:30px;
    font-weight:bold;
    padding:10px 10px 10px 0;
    color:#444;
}

h2.thin {
    font-size:25px;
    font-weight:bold;
    padding:10px 10px 10px 0;
    font-weight:500;
    color:#444;
}

h3 {
    font-size:25px;
    font-weight:bold;
    padding:10px 10px 10px 0;
    color:#444;
}

h3.thin {
    font-size:17px;
    font-family: "Open Sans";
    font-weight:300;
    color:#444;
}

label {
    font-size:12px;
    padding-bottom:5px;
}

strong {
    font-weight:bold;
}

/* header */
.top-nav {
    background-color: #044e7c;
}

.top-nav h2 {
    color:#f1f1f1;
    display: inline-block;
}

.img-top {
    display:inline-block;
    padding-right:10px;
}

.col-md-12.header {
    height:550px;
    background-image: url("../images/bg-image2.png");
    background-size: cover;
    position:relative;
    margin-top:100px;
}

.col-md-12.subPage-header {
    height:250px;
    background-image: url("../images/bg-image2.png");
    background-size: cover;
    position:relative;
    margin-top:100px;
}

.information {
    position:absolute;
    bottom:35px;
    width:450px;
}

.information h1 {
    color:#fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.informationAbout {
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    color:#fff;
    font-size: 20px;
    margin-bottom:20px;
    line-height: 24px;
}

.becomeAMember {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    padding: 0 28px;
}

.becomeAMember a {
    color:#fff;
    text-decoration: none;
}

/* infoBlocks */
.mainTasks {
    background-color:#f9f9f9;
    padding-top:50px;
    padding-bottom:50px;
}

.infoBlock h2 .fa {
    margin-right:10px;
}

/* register & login page */

.col-lg-12.login {
    background-color:#f9f9f9;
}

.loginForm {
    margin:0 auto;
    padding-top:50px;
    padding-bottom:50px;
    width:350px;
}

.loginForm label {
    font-size: 12px;
    margin-bottom: 5px;
    width: 100%;
}

.col-lg-12.register {
    background-color:#f0f0f0;
}

.registerForm {
    margin:0 auto;
    padding-top:50px;
    padding-bottom:50px;
    width:350px;
}

.registerForm label {
    font-size: 12px;
    margin-bottom: 5px;
    width: 100%;
}

input[type="text"] {
    border: 1px solid #bdbdbd;
    outline: 0 none;
    padding: 5px;
    width:100%;
    font-size: 12px;
}

textarea {
    border: 1px solid #bdbdbd;
    outline: 0 none;
    padding: 5px;
    width:100%;
    resize: none;
    font-size: 12px;
}

input[type="password"] {
    border: 1px solid #bdbdbd;
    outline: 0 none;
    padding: 5px;
    width:100%;
    font-size: 12px;
}

/* welcome page (home) */

.col-lg-12.intro-title {
    margin-top:50px;
    margin-bottom:50px;
}

.topThree {
    margin-bottom:50px;
}

.topTheetext {
    padding: 30px 10px 10px;
}


/* landenPage */
.ontdekken {
    margin-top:50px;
}

.landen {
    margin-bottom:50px;
}

.showLand {
    margin-top:30px;
    margin-bottom:30px;
}

.landInfo a {
    color:#fff;
    text-decoration: none;
}

.countryName h2 {
    padding-top:0;
}

.row.showLand.ng-scope {
    margin-bottom: 50px;
}


/* single land page */

.landMainInfo {
    background-color:#f9f9f9;
    margin-top:50px;
    margin-bottom:50px;
    padding:30px;
    text-align:center;
    border:1px solid #f9f9f9;
    border-radius: 10px;
}

.landSpecInfo {
    margin-top:50px;
}

.landActiveiten {
    margin-top:20px;
}

.landActiveitImg {
    display:inline-block;
}

.landActiviteiten span {
    vertical-align: text-top;
}

.landActiveiten h3 {
    display:inline-block;
    padding-top:0;
}

.landTitle {

}

.landImg {
    margin-top:10px;
    margin-bottom:20px;
}

.landInfo {

}


/* user profile page */
.user-info {
    padding-top:50px;
    padding-bottom:50px;
    background-color:#f9f9f9;
}

.travel-img {
    text-align:center;
}

.countryOverview {
    margin-top:50px;
}

.myCountries {
    background-color:#f9f9f9;
    margin-top:50px;
    padding:30px;
    text-align:center;
    border:1px solid #f9f9f9;
    border-radius: 10px;
}

.myCountries img {
    margin-bottom:15px;
}

.addMyCountries {
    background-color:#f9f9f9;
    margin-top:50px;
    margin-bottom:50px;
    padding:30px;
    text-align:center;
    border:1px solid #f9f9f9;
    border-radius: 10px;
}

.delButton {
    text-align: right;
}


/* footer */
.col-lg-12.footer {
    background-color:#033656;
}

footer { 
	color: #fff;
	background:#033656; 
	padding:0;
	margin:0;
	clear: both;
    margin-top:25px;
}

footer h3 {
  font-size:13px;
  font-weight: bold;
  padding:15px;
}




@media (max-width: 768px) {

    .information {
        width:350px;
    }

    .land-img {
        text-align:center;
        margin-bottom:20px;
    }
}


