	<header ng-include="'pages/subPageHeader.html'"></header>


    	<div class="container-fluid">    
      		<div class="row"> 
          		<div class="container">
          			<div class="col-lg-12">
	          			<div class="col-lg-6 landMainInfo">
	          				<div class="landTitle">
	        					<h2 class="thin">Informatie over {{land.landnaam}}</h2>
	        				</div>
	        				<div class="landImg">
	        					<img src="{{land.imgurl}}" />
	        				</div>
	        				<div class="landInfo">
	        					<h2 class="thin">Algemene informatie</h2>
	        					<p>{{land.omschrijving}}</p>
	        				</div>
	        			</div>
	        			<div class="col-lg-6 landSpecInfo">
	        				<h2 class="thin">Activiteiten</h2>
	        				<div class="landActiveiten" ng-repeat="activiteit in activiteiten">
	        					<span class="landActiveitImg"><img src="{{activiteit.activiteitenImg}}" /></span>
	        					<h3 class="thin">{{activiteit.activiteitenNaam}}</h3>
	        					<p>{{activiteit.omschrijving}}</p>
	        				</div>
	        			</div>
	        		</div>	
        		</div>	
        	</div>
	   
      		<div class="row gebruikersReacties"> 
          		<div class="container">
          			<div class="col-lg-12">
          				<h2 class="thin">Activiteiten van andere gebruikers</h2>
          				<div class="gebruikersActiviteit" ng-repeat="recentie in recenties">
		          			<h3 class="thin">Gebruiker: {{recentie.gebruikersnaam}}</h3>
		          			<p>Activiteit: {{recentie.naamActiviteit}}</p>
		          			<p>{{recentie.omschrijving}}</p>
		          			<hr class="grey" />
		          		</div>	
	        		</div>	

	        		<!--
	        		<div class="col-lg-12">
						<div class="addActivity">
							<h2 class="thin">Ook een activiteit toevoegen?</h2>
							<form id="activityForm">
							  <div class="form-group">
							    <label for="gebruikersnaam">Gebruikersnaam</label>
							    <input type="text" ng-model="data.gebruikersnaam">
							  </div>
							  <div class="form-group">
							    <label for="activiteitenNaam">Naam activiteit</label>
							    <input type="text" ng-model="data.activiteitenNaam">
							  </div>
							  <div class="form-group">
							    <label for="activityInfo">Informatie</label>
							    <textarea name="text-area" rows="8" ng-model="data.omschrijving"></textarea>
							  </div>
							  <button type="submit" class="btn btn-primary" ng-click="addActivity()">Activiteit toevoegen</button>
							</form>
						</div>	
					</div>

					-->
        		</div>	
        	</div>
        </div>	




        <!--
        <p>Voeg een land toe</p>
        <form>
		  <div class="form-group">
		    <label for="landen">Landen</label>
		    <input type="text" ng-model="land.naam">
		  </div>
		  <button type="submit" class="btn btn-default" ng-click="addLand()">Land toevoegen</button>
		</form>
		-->


		<!-- <div class="container-fluid">
			<div class="row showLand" ng-repeat="land in landen">
				<div class="col-lg-12">
					<div class="container">
						<div class="col-lg-4 col-md-4 col-xs-12">
							<div class="countryID">
								<img src="images/canada.jpg" width="300">
							</div>	
						</div>
						<div class="col-lg-8 col-md-8 col-xs-12">
							<div class="countryName">
								<h2 class="thin">{{land.landnaam}}</h2>
								<p>{{land.omschrijving}}</p>
							</div>	
							<br />
							<div class="landInfo btn btn-primary"><a href="#">Meer informatie</a></div>
						</div>
					</div>
				</div>
			</div>
		</div> -->		

		<!--<table class="table">
		    <tr ng-repeat="land in landen">
		        <td>{{land.landnaam}}</td><td><button class="submit" ng-click="delete(land.id)">delete</button></td>
		    </tr>
		</table> -->